In [25]:
import pandas as pd
import numpy as np
from pandas_datareader import data
import yfinance as yf

yf.pdr_override()

df = data.get_data_yahoo('005930.KS', start='2023-06-01', end='2023-07-09')
# df = data.get_data_yahoo('005930.KS', '2020-01-01')

[*********************100%%**********************]  1 of 1 completed

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 26 entries, 2023-06-01 to 2023-07-07
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       26 non-null     float64
 1   High       26 non-null     float64
 2   Low        26 non-null     float64
 3   Close      26 non-null     float64
 4   Adj Close  26 non-null     float64
 5   Volume     26 non-null     int64
dtypes: float64(5), int64(1)
memory usage: 1.4 KB

In [26]:
df.head()

               Open     High      Low    Close     Adj Close    Volume
Date
2023-06-01  70900.0  71600.0  70600.0  70900.0  70547.937500  14669296
2023-06-02  71700.0  72200.0  71600.0  72200.0  71841.484375  12161798
2023-06-05  72700.0  72700.0  71400.0  71700.0  71343.968750  12686829
2023-06-07  71300.0  71600.0  70800.0  71000.0  70647.445312  14796613
2023-06-08  70400.0  70900.0  70000.0  70900.0  70547.937500  19165568