In [1]:
import pandas as pd
import numpy as np
from pandas_datareader import data
import yfinance as yf

yf.pdr_override()

df = data.get_data_yahoo('005930.KS', start='2023-06-01', end='2023-08-10')
# df = data.get_data_yahoo('005930.KS', '2020-01-01')

[*********************100%%**********************]  1 of 1 completed

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 49 entries, 2023-06-01 to 2023-08-09
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       49 non-null     float64
 1   High       49 non-null     float64
 2   Low        49 non-null     float64
 3   Close      49 non-null     float64
 4   Adj Close  49 non-null     float64
 5   Volume     49 non-null     int64
dtypes: float64(5), int64(1)
memory usage: 2.7 KB

In [3]:
df.head()

               Open     High      Low    Close     Adj Close    Volume
Date
2023-06-01  70900.0  71600.0  70600.0  70900.0  70547.937500  14669296
2023-06-02  71700.0  72200.0  71600.0  72200.0  71841.484375  12161798
2023-06-05  72700.0  72700.0  71400.0  71700.0  71343.968750  12686829
2023-06-07  71300.0  71600.0  70800.0  71000.0  70647.445312  14796613
2023-06-08  70400.0  70900.0  70000.0  70900.0  70547.937500  19165568

In [4]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,49.000000,49.000000,49.000000,49.000000,49.000000,4.900000e+01
mean,71242.857143,71759.183673,70612.244898,71155.102041,71017.220504,1.366996e+07
std,1352.774926,1171.167218,1375.323091,1325.716980,1287.844692,3.862747e+06
min,67700.000000,69100.000000,67400.000000,67600.000000,67600.000000,8.783093e+06
25%,70200.000000,71000.000000,69800.000000,70400.000000,70300.000000,1.141101e+07
50%,71300.000000,71900.000000,70800.000000,71500.000000,71144.960938,1.236019e+07
75%,72400.000000,72600.000000,71600.000000,72000.000000,71900.000000,1.477767e+07
max,73400.000000,73600.000000,72900.000000,73400.000000,73400.000000,3.001622e+07

In [5]:
df['Close'].max()

73400.0

In [6]:
df['Close'].min()

67600.0

In [7]:
df['Close'].mean()

71155.10204081633

In [8]:
df.shape

(49, 6)

In [9]:
df['Close']

Date
2023-06-01    70900.0
2023-06-02    72200.0
2023-06-05    71700.0
2023-06-07    71000.0
2023-06-08    70900.0
2023-06-09    72000.0
2023-06-12    71000.0
2023-06-13    72000.0
2023-06-14    71900.0
2023-06-15    71500.0
2023-06-16    71800.0
2023-06-19    71200.0
2023-06-20    71400.0
2023-06-21    70500.0
2023-06-22    71300.0
2023-06-23    71600.0
2023-06-26    72400.0
2023-06-27    72600.0
2023-06-28    72700.0
2023-06-29    72400.0
2023-06-30    72200.0
2023-07-03    73000.0
2023-07-04    73000.0
2023-07-05    72000.0
2023-07-06    71600.0
2023-07-07    69900.0
2023-07-10    69500.0
2023-07-11    71500.0
2023-07-12    71900.0
2023-07-13    71900.0
2023-07-14    73400.0
2023-07-17    73300.0
2023-07-18    72000.0
2023-07-19    71700.0
2023-07-20    71000.0
2023-07-21    70300.0
2023-07-24    70400.0
2023-07-25    70000.0
2023-07-26    69800.0
2023-07-27    71700.0
2023-07-28    70600.0
2023-07-31    69800.0
2023-08-01    71100.0
2023-08-02    69900.0
2023-08-03    68800.0
2023-08-04    68300.0
2023-08-07    68500.0
2023-08-08    67600.0
2023-08-09    68900.0
Name: Close, dtype: float64

In [10]:
df['Close']

Date
2023-06-01    70900.0
2023-06-02    72200.0
2023-06-05    71700.0
2023-06-07    71000.0
2023-06-08    70900.0
2023-06-09    72000.0
2023-06-12    71000.0
2023-06-13    72000.0
2023-06-14    71900.0
2023-06-15    71500.0
2023-06-16    71800.0
2023-06-19    71200.0
2023-06-20    71400.0
2023-06-21    70500.0
2023-06-22    71300.0
2023-06-23    71600.0
2023-06-26    72400.0
2023-06-27    72600.0
2023-06-28    72700.0
2023-06-29    72400.0
2023-06-30    72200.0
2023-07-03    73000.0
2023-07-04    73000.0
2023-07-05    72000.0
2023-07-06    71600.0
2023-07-07    69900.0
2023-07-10    69500.0
2023-07-11    71500.0
2023-07-12    71900.0
2023-07-13    71900.0
2023-07-14    73400.0
2023-07-17    73300.0
2023-07-18    72000.0
2023-07-19    71700.0
2023-07-20    71000.0
2023-07-21    70300.0
2023-07-24    70400.0
2023-07-25    70000.0
2023-07-26    69800.0
2023-07-27    71700.0
2023-07-28    70600.0
2023-07-31    69800.0
2023-08-01    71100.0
2023-08-02    69900.0
2023-08-03    68800.0
2023-08-04    68300.0
2023-08-07    68500.0
2023-08-08    67600.0
2023-08-09    68900.0
Name: Close, dtype: float64

In [11]:
df[['High', 'Low']]

               High      Low
Date
2023-06-01  71600.0  70600.0
2023-06-02  72200.0  71600.0
2023-06-05  72700.0  71400.0
2023-06-07  71600.0  70800.0
2023-06-08  70900.0  70000.0
2023-06-09  72300.0  70800.0
2023-06-12  72400.0  70800.0
2023-06-13  72200.0  71600.0
2023-06-14  72200.0  71100.0
2023-06-15  72300.0  71300.0
2023-06-16  71900.0  70900.0
2023-06-19  71700.0  70900.0
2023-06-20  71400.0  70400.0
2023-06-21  71200.0  70400.0
2023-06-22  71500.0  70100.0
2023-06-23  72200.0  71600.0
2023-06-26  72500.0  71500.0
2023-06-27  72600.0  72000.0
2023-06-28  72700.0  72000.0
2023-06-29  73400.0  72400.0
2023-06-30  72700.0  71700.0
2023-07-03  73200.0  72600.0
2023-07-04  73600.0  72900.0
2023-07-05  73300.0  71900.0
2023-07-06  72400.0  71500.0
2023-07-07  71400.0  69800.0
2023-07-10  70400.0  69200.0
2023-07-11  71500.0  70100.0
2023-07-12  72000.0  71100.0
2023-07-13  72600.0  71900.0
2023-07-14  73400.0  72400.0
2023-07-17  73500.0  72800.0
2023-07-18  73500.0  72000.0
2023-07-19  72800.0  71300.0
2023-07-20  71500.0  70800.0
2023-07-21  70400.0  69400.0
2023-07-24  70900.0  69900.0
2023-07-25  70500.0  69800.0
2023-07-26  70600.0  68100.0
2023-07-27  71700.0  69300.0
2023-07-28  72400.0  70100.0
2023-07-31  71000.0  69800.0
2023-08-01  71200.0  70000.0
2023-08-02  71000.0  69800.0
2023-08-03  70200.0  68500.0
2023-08-04  69100.0  68200.0
2023-08-07  69200.0  67600.0
2023-08-08  69100.0  67400.0
2023-08-09  69600.0  67900.0

In [12]:
df.head(3)

               Open     High      Low    Close     Adj Close    Volume
Date
2023-06-01  70900.0  71600.0  70600.0  70900.0  70547.937500  14669296
2023-06-02  71700.0  72200.0  71600.0  72200.0  71841.484375  12161798
2023-06-05  72700.0  72700.0  71400.0  71700.0  71343.968750  12686829

In [13]:
df[df['Open'] < df['Close']]

               Open     High      Low    Close     Adj Close    Volume
Date
2023-06-02  71700.0  72200.0  71600.0  72200.0  71841.484375  12161798
2023-06-08  70400.0  70900.0  70000.0  70900.0  70547.937500  19165568
2023-06-09  71100.0  72300.0  70800.0  72000.0  71642.476562  15050209
2023-06-13  71700.0  72200.0  71600.0  72000.0  71642.476562  13227285
2023-06-20  70700.0  71400.0  70400.0  71400.0  71045.453125  11557883
2023-06-22  70200.0  71500.0  70100.0  71300.0  70945.953125  11411007
2023-06-26  71700.0  72500.0  71500.0  72400.0  72040.492188  10541901
2023-06-27  72500.0  72600.0  72000.0  72600.0  72239.500000   9442997
2023-06-28  72600.0  72700.0  72000.0  72700.0  72339.000000   8783093
2023-07-03  72700.0  73200.0  72600.0  73000.0  73000.000000  10722181
2023-07-11  70200.0  71500.0  70100.0  71500.0  71500.000000  12177392
2023-07-12  71200.0  72000.0  71100.0  71900.0  71900.000000  10375581
2023-07-14  72500.0  73400.0  72400.0  73400.0  73400.000000  15882519
2023-07-17  73200.0  73500.0  72800.0  73300.0  73300.000000  10060049
2023-07-24  70100.0  70900.0  69900.0  70400.0  70400.000000  13418597
2023-07-27  69900.0  71700.0  69300.0  71700.0  71700.000000  24261179
2023-08-01  70100.0  71200.0  70000.0  71100.0  71100.000000  12299254
2023-08-07  67700.0  69200.0  67600.0  68500.0  68500.000000  10968505
2023-08-09  68000.0  69600.0  67900.0  68900.0  68900.000000  17259673

In [14]:
# 9. 종가('Close') 기준 가장 주가가 높았던 날의 데이터 선택하기
df[df['Open'] == max(df['Open'])]

               Open     High      Low    Close  Adj Close    Volume
Date
2023-07-04  73400.0  73600.0  72900.0  73000.0    73000.0  10214350

In [15]:
# 10. 종가('Close')기준 주가가 90,000원 이상이었던 날짜 반환하기
df[df['Close'] > 70000].index

DatetimeIndex(['2023-06-01', '2023-06-02', '2023-06-05', '2023-06-07',
               '2023-06-08', '2023-06-09', '2023-06-12', '2023-06-13',
               '2023-06-14', '2023-06-15', '2023-06-16', '2023-06-19',
               '2023-06-20', '2023-06-21', '2023-06-22', '2023-06-23',
               '2023-06-26', '2023-06-27', '2023-06-28', '2023-06-29',
               '2023-06-30', '2023-07-03', '2023-07-04', '2023-07-05',
               '2023-07-06', '2023-07-11', '2023-07-12', '2023-07-13',
               '2023-07-14', '2023-07-17', '2023-07-18', '2023-07-19',
               '2023-07-20', '2023-07-21', '2023-07-24', '2023-07-27',
               '2023-07-28', '2023-08-01'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [16]:
# 11. 2023년 06-20 데이터 반환하기
df.loc['2023-06-20']

Open         7.070000e+04
High         7.140000e+04
Low          7.040000e+04
Close        7.140000e+04
Adj Close    7.104545e+04
Volume       1.155788e+07
Name: 2023-06-20 00:00:00, dtype: float64

In [17]:
# 12. 2021년 6월 20의 고가('High')와 저가('Low') 값을 반환하세요.
df.loc['2023-06-20'][['High', 'Low']]

High    71400.0
Low     70400.0
Name: 2023-06-20 00:00:00, dtype: float64

In [18]:
# 13. 데이터프레임(df)의 20번째 데이터를 선택하세요
df.iloc[20]

Open            72500.0
High            72700.0
Low             71700.0
Close           72200.0
Adj Close       72200.0
Volume       11694765.0
Name: 2023-06-30 00:00:00, dtype: float64

In [19]:
# 14. 데이터를 날짜 역순으로(최신 데이터가 위에 위치하도록) 정렬
df.sort_values(by='Date', ascending=False)

               Open     High      Low    Close     Adj Close    Volume
Date
2023-08-09  68000.0  69600.0  67900.0  68900.0  68900.000000  17259673
2023-08-08  69000.0  69100.0  67400.0  67600.0  67600.000000  14664709
2023-08-07  67700.0  69200.0  67600.0  68500.0  68500.000000  10968505
2023-08-04  68800.0  69100.0  68200.0  68300.0  68300.000000  12360193
2023-08-03  69900.0  70200.0  68500.0  68800.0  68800.000000  20087090
2023-08-02  70700.0  71000.0  69800.0  69900.0  69900.000000  13835020
2023-08-01  70100.0  71200.0  70000.0  71100.0  71100.000000  12299254
2023-07-31  70900.0  71000.0  69800.0  69800.0  69800.000000  13035420
2023-07-28  71800.0  72400.0  70100.0  70600.0  70600.000000  19420683
2023-07-27  69900.0  71700.0  69300.0  71700.0  71700.000000  24261179
2023-07-26  69800.0  70600.0  68100.0  69800.0  69800.000000  30016221
2023-07-25  70000.0  70500.0  69800.0  70000.0  70000.000000  14314945
2023-07-24  70100.0  70900.0  69900.0  70400.0  70400.000000  13418597
2023-07-21  70400.0  70400.0  69400.0  70300.0  70300.000000  16528926
2023-07-20  71100.0  71500.0  70800.0  71000.0  71000.000000   9732730
2023-07-19  72700.0  72800.0  71300.0  71700.0  71700.000000  10896412
2023-07-18  73200.0  73500.0  72000.0  72000.0  72000.000000  11697900
2023-07-17  73200.0  73500.0  72800.0  73300.0  73300.000000  10060049
2023-07-14  72500.0  73400.0  72400.0  73400.0  73400.000000  15882519
2023-07-13  72400.0  72600.0  71900.0  71900.0  71900.000000  14417279
2023-07-12  71200.0  72000.0  71100.0  71900.0  71900.000000  10375581
2023-07-11  70200.0  71500.0  70100.0  71500.0  71500.000000  12177392
2023-07-10  70000.0  70400.0  69200.0  69500.0  69500.000000  11713926
2023-07-07  71100.0  71400.0  69800.0  69900.0  69900.000000  17308877
2023-07-06  71900.0  72400.0  71500.0  71600.0  71600.000000  14777667
2023-07-05  73000.0  73300.0  71900.0  72000.0  72000.000000  12310610
2023-07-04  73400.0  73600.0  72900.0  73000.0  73000.000000  10214350
2023-07-03  72700.0  73200.0  72600.0  73000.0  73000.000000  10722181
2023-06-30  72500.0  72700.0  71700.0  72200.0  72200.000000  11694765
2023-06-29  73100.0  73400.0  72400.0  72400.0  72400.000000  12229967
2023-06-28  72600.0  72700.0  72000.0  72700.0  72339.000000   8783093
2023-06-27  72500.0  72600.0  72000.0  72600.0  72239.500000   9442997
2023-06-26  71700.0  72500.0  71500.0  72400.0  72040.492188  10541901
2023-06-23  72000.0  72200.0  71600.0  71600.0  71244.460938  12329484
2023-06-22  70200.0  71500.0  70100.0  71300.0  70945.953125  11411007
2023-06-21  70700.0  71200.0  70400.0  70500.0  70149.921875  10626603
2023-06-20  70700.0  71400.0  70400.0  71400.0  71045.453125  11557883
2023-06-19  71300.0  71700.0  70900.0  71200.0  70846.445312  11100887
2023-06-16  71800.0  71900.0  70900.0  71800.0  71443.468750  15373696
2023-06-15  72100.0  72300.0  71300.0  71500.0  71144.960938  13614994
2023-06-14  72100.0  72200.0  71100.0  71900.0  71542.976562  12541046
2023-06-13  71700.0  72200.0  71600.0  72000.0  71642.476562  13227285
2023-06-12  72100.0  72400.0  70800.0  71000.0  70647.445312  12064287
2023-06-09  71100.0  72300.0  70800.0  72000.0  71642.476562  15050209
2023-06-08  70400.0  70900.0  70000.0  70900.0  70547.937500  19165568
2023-06-07  71300.0  71600.0  70800.0  71000.0  70647.445312  14796613
2023-06-05  72700.0  72700.0  71400.0  71700.0  71343.968750  12686829
2023-06-02  71700.0  72200.0  71600.0  72200.0  71841.484375  12161798
2023-06-01  70900.0  71600.0  70600.0  70900.0  70547.937500  14669296

In [20]:
# 15. 종가('Close') 데이터를 가격이 높은 순서대로 정렬
df.sort_values(by='Close', ascending=False)

               Open     High      Low    Close     Adj Close    Volume
Date
2023-07-14  72500.0  73400.0  72400.0  73400.0  73400.000000  15882519
2023-07-17  73200.0  73500.0  72800.0  73300.0  73300.000000  10060049
2023-07-04  73400.0  73600.0  72900.0  73000.0  73000.000000  10214350
2023-07-03  72700.0  73200.0  72600.0  73000.0  73000.000000  10722181
2023-06-28  72600.0  72700.0  72000.0  72700.0  72339.000000   8783093
2023-06-27  72500.0  72600.0  72000.0  72600.0  72239.500000   9442997
2023-06-29  73100.0  73400.0  72400.0  72400.0  72400.000000  12229967
2023-06-26  71700.0  72500.0  71500.0  72400.0  72040.492188  10541901
2023-06-30  72500.0  72700.0  71700.0  72200.0  72200.000000  11694765
2023-06-02  71700.0  72200.0  71600.0  72200.0  71841.484375  12161798
2023-07-18  73200.0  73500.0  72000.0  72000.0  72000.000000  11697900
2023-07-05  73000.0  73300.0  71900.0  72000.0  72000.000000  12310610
2023-06-09  71100.0  72300.0  70800.0  72000.0  71642.476562  15050209
2023-06-13  71700.0  72200.0  71600.0  72000.0  71642.476562  13227285
2023-07-13  72400.0  72600.0  71900.0  71900.0  71900.000000  14417279
2023-07-12  71200.0  72000.0  71100.0  71900.0  71900.000000  10375581
2023-06-14  72100.0  72200.0  71100.0  71900.0  71542.976562  12541046
2023-06-16  71800.0  71900.0  70900.0  71800.0  71443.468750  15373696
2023-07-27  69900.0  71700.0  69300.0  71700.0  71700.000000  24261179
2023-07-19  72700.0  72800.0  71300.0  71700.0  71700.000000  10896412
2023-06-05  72700.0  72700.0  71400.0  71700.0  71343.968750  12686829
2023-06-23  72000.0  72200.0  71600.0  71600.0  71244.460938  12329484
2023-07-06  71900.0  72400.0  71500.0  71600.0  71600.000000  14777667
2023-06-15  72100.0  72300.0  71300.0  71500.0  71144.960938  13614994
2023-07-11  70200.0  71500.0  70100.0  71500.0  71500.000000  12177392
2023-06-20  70700.0  71400.0  70400.0  71400.0  71045.453125  11557883
2023-06-22  70200.0  71500.0  70100.0  71300.0  70945.953125  11411007
2023-06-19  71300.0  71700.0  70900.0  71200.0  70846.445312  11100887
2023-08-01  70100.0  71200.0  70000.0  71100.0  71100.000000  12299254
2023-06-12  72100.0  72400.0  70800.0  71000.0  70647.445312  12064287
2023-06-07  71300.0  71600.0  70800.0  71000.0  70647.445312  14796613
2023-07-20  71100.0  71500.0  70800.0  71000.0  71000.000000   9732730
2023-06-01  70900.0  71600.0  70600.0  70900.0  70547.937500  14669296
2023-06-08  70400.0  70900.0  70000.0  70900.0  70547.937500  19165568
2023-07-28  71800.0  72400.0  70100.0  70600.0  70600.000000  19420683
2023-06-21  70700.0  71200.0  70400.0  70500.0  70149.921875  10626603
2023-07-24  70100.0  70900.0  69900.0  70400.0  70400.000000  13418597
2023-07-21  70400.0  70400.0  69400.0  70300.0  70300.000000  16528926
2023-07-25  70000.0  70500.0  69800.0  70000.0  70000.000000  14314945
2023-07-07  71100.0  71400.0  69800.0  69900.0  69900.000000  17308877
2023-08-02  70700.0  71000.0  69800.0  69900.0  69900.000000  13835020
2023-07-26  69800.0  70600.0  68100.0  69800.0  69800.000000  30016221
2023-07-31  70900.0  71000.0  69800.0  69800.0  69800.000000  13035420
2023-07-10  70000.0  70400.0  69200.0  69500.0  69500.000000  11713926
2023-08-09  68000.0  69600.0  67900.0  68900.0  68900.000000  17259673
2023-08-03  69900.0  70200.0  68500.0  68800.0  68800.000000  20087090
2023-08-07  67700.0  69200.0  67600.0  68500.0  68500.000000  10968505
2023-08-04  68800.0  69100.0  68200.0  68300.0  68300.000000  12360193
2023-08-08  69000.0  69100.0  67400.0  67600.0  67600.000000  14664709

In [21]:
range(len(df.index)-1)

range(0, 48)

In [22]:
df.index

DatetimeIndex(['2023-06-01', '2023-06-02', '2023-06-05', '2023-06-07',
               '2023-06-08', '2023-06-09', '2023-06-12', '2023-06-13',
               '2023-06-14', '2023-06-15', '2023-06-16', '2023-06-19',
               '2023-06-20', '2023-06-21', '2023-06-22', '2023-06-23',
               '2023-06-26', '2023-06-27', '2023-06-28', '2023-06-29',
               '2023-06-30', '2023-07-03', '2023-07-04', '2023-07-05',
               '2023-07-06', '2023-07-07', '2023-07-10', '2023-07-11',
               '2023-07-12', '2023-07-13', '2023-07-14', '2023-07-17',
               '2023-07-18', '2023-07-19', '2023-07-20', '2023-07-21',
               '2023-07-24', '2023-07-25', '2023-07-26', '2023-07-27',
               '2023-07-28', '2023-07-31', '2023-08-01', '2023-08-02',
               '2023-08-03', '2023-08-04', '2023-08-07', '2023-08-08',
               '2023-08-09'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [23]:
# 16. 인덱스 컬럼을 0부터 순차적으로 증가하는 정수로 변경
# df['Date'] = df.index
# df.index = [*range(len(df.index))]
df = df.reset_index().rename(columns={'index': 'Date'})
# df.drop(['Date'], axis=1)
# df = df.T.drop_duplicates().T
# df = df.iloc[:, 1:]
df

         Date     Open     High      Low    Close     Adj Close    Volume
0  2023-06-01  70900.0  71600.0  70600.0  70900.0  70547.937500  14669296
1  2023-06-02  71700.0  72200.0  71600.0  72200.0  71841.484375  12161798
2  2023-06-05  72700.0  72700.0  71400.0  71700.0  71343.968750  12686829
3  2023-06-07  71300.0  71600.0  70800.0  71000.0  70647.445312  14796613
4  2023-06-08  70400.0  70900.0  70000.0  70900.0  70547.937500  19165568
5  2023-06-09  71100.0  72300.0  70800.0  72000.0  71642.476562  15050209
6  2023-06-12  72100.0  72400.0  70800.0  71000.0  70647.445312  12064287
7  2023-06-13  71700.0  72200.0  71600.0  72000.0  71642.476562  13227285
8  2023-06-14  72100.0  72200.0  71100.0  71900.0  71542.976562  12541046
9  2023-06-15  72100.0  72300.0  71300.0  71500.0  71144.960938  13614994
10 2023-06-16  71800.0  71900.0  70900.0  71800.0  71443.468750  15373696
11 2023-06-19  71300.0  71700.0  70900.0  71200.0  70846.445312  11100887
12 2023-06-20  70700.0  71400.0  70400.0  71400.0  71045.453125  11557883
13 2023-06-21  70700.0  71200.0  70400.0  70500.0  70149.921875  10626603
14 2023-06-22  70200.0  71500.0  70100.0  71300.0  70945.953125  11411007
15 2023-06-23  72000.0  72200.0  71600.0  71600.0  71244.460938  12329484
16 2023-06-26  71700.0  72500.0  71500.0  72400.0  72040.492188  10541901
17 2023-06-27  72500.0  72600.0  72000.0  72600.0  72239.500000   9442997
18 2023-06-28  72600.0  72700.0  72000.0  72700.0  72339.000000   8783093
19 2023-06-29  73100.0  73400.0  72400.0  72400.0  72400.000000  12229967
20 2023-06-30  72500.0  72700.0  71700.0  72200.0  72200.000000  11694765
21 2023-07-03  72700.0  73200.0  72600.0  73000.0  73000.000000  10722181
22 2023-07-04  73400.0  73600.0  72900.0  73000.0  73000.000000  10214350
23 2023-07-05  73000.0  73300.0  71900.0  72000.0  72000.000000  12310610
24 2023-07-06  71900.0  72400.0  71500.0  71600.0  71600.000000  14777667
25 2023-07-07  71100.0  71400.0  69800.0  69900.0  69900.000000  17308877
26 2023-07-10  70000.0  70400.0  69200.0  69500.0  69500.000000  11713926
27 2023-07-11  70200.0  71500.0  70100.0  71500.0  71500.000000  12177392
28 2023-07-12  71200.0  72000.0  71100.0  71900.0  71900.000000  10375581
29 2023-07-13  72400.0  72600.0  71900.0  71900.0  71900.000000  14417279
30 2023-07-14  72500.0  73400.0  72400.0  73400.0  73400.000000  15882519
31 2023-07-17  73200.0  73500.0  72800.0  73300.0  73300.000000  10060049
32 2023-07-18  73200.0  73500.0  72000.0  72000.0  72000.000000  11697900
33 2023-07-19  72700.0  72800.0  71300.0  71700.0  71700.000000  10896412
34 2023-07-20  71100.0  71500.0  70800.0  71000.0  71000.000000   9732730
35 2023-07-21  70400.0  70400.0  69400.0  70300.0  70300.000000  16528926
36 2023-07-24  70100.0  70900.0  69900.0  70400.0  70400.000000  13418597
37 2023-07-25  70000.0  70500.0  69800.0  70000.0  70000.000000  14314945
38 2023-07-26  69800.0  70600.0  68100.0  69800.0  69800.000000  30016221
39 2023-07-27  69900.0  71700.0  69300.0  71700.0  71700.000000  24261179
40 2023-07-28  71800.0  72400.0  70100.0  70600.0  70600.000000  19420683
41 2023-07-31  70900.0  71000.0  69800.0  69800.0  69800.000000  13035420
42 2023-08-01  70100.0  71200.0  70000.0  71100.0  71100.000000  12299254
43 2023-08-02  70700.0  71000.0  69800.0  69900.0  69900.000000  13835020
44 2023-08-03  69900.0  70200.0  68500.0  68800.0  68800.000000  20087090
45 2023-08-04  68800.0  69100.0  68200.0  68300.0  68300.000000  12360193
46 2023-08-07  67700.0  69200.0  67600.0  68500.0  68500.000000  10968505
47 2023-08-08  69000.0  69100.0  67400.0  67600.0  67600.000000  14664709
48 2023-08-09  68000.0  69600.0  67900.0  68900.0  68900.000000  17259673

In [24]:
df2 = pd.DataFrame({'name': ['Alice', 'Bob', 'Charlie', 'Cindy'], 'age': [25, 30, 35, 30]})
df2.groupby(by='age').sum()

         name
age
25      Alice
30   BobCindy
35    Charlie

In [25]:
# 17. 컬럼명을 Date는 '날짜'로, 'High'는 '고가'로, 'Low'는 '저가'로 변경
df.rename({'Date':'날짜', 'High':'고가', 'Low': '저가'}, axis='columns')

           날짜     Open       고가       저가    Close     Adj Close    Volume
0  2023-06-01  70900.0  71600.0  70600.0  70900.0  70547.937500  14669296
1  2023-06-02  71700.0  72200.0  71600.0  72200.0  71841.484375  12161798
2  2023-06-05  72700.0  72700.0  71400.0  71700.0  71343.968750  12686829
3  2023-06-07  71300.0  71600.0  70800.0  71000.0  70647.445312  14796613
4  2023-06-08  70400.0  70900.0  70000.0  70900.0  70547.937500  19165568
5  2023-06-09  71100.0  72300.0  70800.0  72000.0  71642.476562  15050209
6  2023-06-12  72100.0  72400.0  70800.0  71000.0  70647.445312  12064287
7  2023-06-13  71700.0  72200.0  71600.0  72000.0  71642.476562  13227285
8  2023-06-14  72100.0  72200.0  71100.0  71900.0  71542.976562  12541046
9  2023-06-15  72100.0  72300.0  71300.0  71500.0  71144.960938  13614994
10 2023-06-16  71800.0  71900.0  70900.0  71800.0  71443.468750  15373696
11 2023-06-19  71300.0  71700.0  70900.0  71200.0  70846.445312  11100887
12 2023-06-20  70700.0  71400.0  70400.0  71400.0  71045.453125  11557883
13 2023-06-21  70700.0  71200.0  70400.0  70500.0  70149.921875  10626603
14 2023-06-22  70200.0  71500.0  70100.0  71300.0  70945.953125  11411007
15 2023-06-23  72000.0  72200.0  71600.0  71600.0  71244.460938  12329484
16 2023-06-26  71700.0  72500.0  71500.0  72400.0  72040.492188  10541901
17 2023-06-27  72500.0  72600.0  72000.0  72600.0  72239.500000   9442997
18 2023-06-28  72600.0  72700.0  72000.0  72700.0  72339.000000   8783093
19 2023-06-29  73100.0  73400.0  72400.0  72400.0  72400.000000  12229967
20 2023-06-30  72500.0  72700.0  71700.0  72200.0  72200.000000  11694765
21 2023-07-03  72700.0  73200.0  72600.0  73000.0  73000.000000  10722181
22 2023-07-04  73400.0  73600.0  72900.0  73000.0  73000.000000  10214350
23 2023-07-05  73000.0  73300.0  71900.0  72000.0  72000.000000  12310610
24 2023-07-06  71900.0  72400.0  71500.0  71600.0  71600.000000  14777667
25 2023-07-07  71100.0  71400.0  69800.0  69900.0  69900.000000  17308877
26 2023-07-10  70000.0  70400.0  69200.0  69500.0  69500.000000  11713926
27 2023-07-11  70200.0  71500.0  70100.0  71500.0  71500.000000  12177392
28 2023-07-12  71200.0  72000.0  71100.0  71900.0  71900.000000  10375581
29 2023-07-13  72400.0  72600.0  71900.0  71900.0  71900.000000  14417279
30 2023-07-14  72500.0  73400.0  72400.0  73400.0  73400.000000  15882519
31 2023-07-17  73200.0  73500.0  72800.0  73300.0  73300.000000  10060049
32 2023-07-18  73200.0  73500.0  72000.0  72000.0  72000.000000  11697900
33 2023-07-19  72700.0  72800.0  71300.0  71700.0  71700.000000  10896412
34 2023-07-20  71100.0  71500.0  70800.0  71000.0  71000.000000   9732730
35 2023-07-21  70400.0  70400.0  69400.0  70300.0  70300.000000  16528926
36 2023-07-24  70100.0  70900.0  69900.0  70400.0  70400.000000  13418597
37 2023-07-25  70000.0  70500.0  69800.0  70000.0  70000.000000  14314945
38 2023-07-26  69800.0  70600.0  68100.0  69800.0  69800.000000  30016221
39 2023-07-27  69900.0  71700.0  69300.0  71700.0  71700.000000  24261179
40 2023-07-28  71800.0  72400.0  70100.0  70600.0  70600.000000  19420683
41 2023-07-31  70900.0  71000.0  69800.0  69800.0  69800.000000  13035420
42 2023-08-01  70100.0  71200.0  70000.0  71100.0  71100.000000  12299254
43 2023-08-02  70700.0  71000.0  69800.0  69900.0  69900.000000  13835020
44 2023-08-03  69900.0  70200.0  68500.0  68800.0  68800.000000  20087090
45 2023-08-04  68800.0  69100.0  68200.0  68300.0  68300.000000  12360193
46 2023-08-07  67700.0  69200.0  67600.0  68500.0  68500.000000  10968505
47 2023-08-08  69000.0  69100.0  67400.0  67600.0  67600.000000  14664709
48 2023-08-09  68000.0  69600.0  67900.0  68900.0  68900.000000  17259673

In [26]:
# 18. 날짜('Date') 컬럼 삭제
df.drop(['Date'], axis=1)

       Open     High      Low    Close     Adj Close    Volume
0   70900.0  71600.0  70600.0  70900.0  70547.937500  14669296
1   71700.0  72200.0  71600.0  72200.0  71841.484375  12161798
2   72700.0  72700.0  71400.0  71700.0  71343.968750  12686829
3   71300.0  71600.0  70800.0  71000.0  70647.445312  14796613
4   70400.0  70900.0  70000.0  70900.0  70547.937500  19165568
5   71100.0  72300.0  70800.0  72000.0  71642.476562  15050209
6   72100.0  72400.0  70800.0  71000.0  70647.445312  12064287
7   71700.0  72200.0  71600.0  72000.0  71642.476562  13227285
8   72100.0  72200.0  71100.0  71900.0  71542.976562  12541046
9   72100.0  72300.0  71300.0  71500.0  71144.960938  13614994
10  71800.0  71900.0  70900.0  71800.0  71443.468750  15373696
11  71300.0  71700.0  70900.0  71200.0  70846.445312  11100887
12  70700.0  71400.0  70400.0  71400.0  71045.453125  11557883
13  70700.0  71200.0  70400.0  70500.0  70149.921875  10626603
14  70200.0  71500.0  70100.0  71300.0  70945.953125  11411007
15  72000.0  72200.0  71600.0  71600.0  71244.460938  12329484
16  71700.0  72500.0  71500.0  72400.0  72040.492188  10541901
17  72500.0  72600.0  72000.0  72600.0  72239.500000   9442997
18  72600.0  72700.0  72000.0  72700.0  72339.000000   8783093
19  73100.0  73400.0  72400.0  72400.0  72400.000000  12229967
20  72500.0  72700.0  71700.0  72200.0  72200.000000  11694765
21  72700.0  73200.0  72600.0  73000.0  73000.000000  10722181
22  73400.0  73600.0  72900.0  73000.0  73000.000000  10214350
23  73000.0  73300.0  71900.0  72000.0  72000.000000  12310610
24  71900.0  72400.0  71500.0  71600.0  71600.000000  14777667
25  71100.0  71400.0  69800.0  69900.0  69900.000000  17308877
26  70000.0  70400.0  69200.0  69500.0  69500.000000  11713926
27  70200.0  71500.0  70100.0  71500.0  71500.000000  12177392
28  71200.0  72000.0  71100.0  71900.0  71900.000000  10375581
29  72400.0  72600.0  71900.0  71900.0  71900.000000  14417279
30  72500.0  73400.0  72400.0  73400.0  73400.000000  15882519
31  73200.0  73500.0  72800.0  73300.0  73300.000000  10060049
32  73200.0  73500.0  72000.0  72000.0  72000.000000  11697900
33  72700.0  72800.0  71300.0  71700.0  71700.000000  10896412
34  71100.0  71500.0  70800.0  71000.0  71000.000000   9732730
35  70400.0  70400.0  69400.0  70300.0  70300.000000  16528926
36  70100.0  70900.0  69900.0  70400.0  70400.000000  13418597
37  70000.0  70500.0  69800.0  70000.0  70000.000000  14314945
38  69800.0  70600.0  68100.0  69800.0  69800.000000  30016221
39  69900.0  71700.0  69300.0  71700.0  71700.000000  24261179
40  71800.0  72400.0  70100.0  70600.0  70600.000000  19420683
41  70900.0  71000.0  69800.0  69800.0  69800.000000  13035420
42  70100.0  71200.0  70000.0  71100.0  71100.000000  12299254
43  70700.0  71000.0  69800.0  69900.0  69900.000000  13835020
44  69900.0  70200.0  68500.0  68800.0  68800.000000  20087090
45  68800.0  69100.0  68200.0  68300.0  68300.000000  12360193
46  67700.0  69200.0  67600.0  68500.0  68500.000000  10968505
47  69000.0  69100.0  67400.0  67600.0  67600.000000  14664709
48  68000.0  69600.0  67900.0  68900.0  68900.000000  17259673

In [27]:
# 19. diff' 컬럼을 생성하고, 종가('Close')와 시가('Open')의 차이를 계산하여 채우기
df['diff'] = df['Close'] - df['Open']
df

,Date,Open,High,Low,Close,Adj Close,Volume,diff
0,2023-06-01,70900.0,71600.0,70600.0,70900.0,70547.937500,14669296,0.0
1,2023-06-02,71700.0,72200.0,71600.0,72200.0,71841.484375,12161798,500.0
2,2023-06-05,72700.0,72700.0,71400.0,71700.0,71343.968750,12686829,-1000.0
3,2023-06-07,71300.0,71600.0,70800.0,71000.0,70647.445312,14796613,-300.0
4,2023-06-08,70400.0,70900.0,70000.0,70900.0,70547.937500,19165568,500.0
5,2023-06-09,71100.0,72300.0,70800.0,72000.0,71642.476562,15050209,900.0
6,2023-06-12,72100.0,72400.0,70800.0,71000.0,70647.445312,12064287,-1100.0
7,2023-06-13,71700.0,72200.0,71600.0,72000.0,71642.476562,13227285,300.0
8,2023-06-14,72100.0,72200.0,71100.0,71900.0,71542.976562,12541046,-200.0
9,2023-06-15,72100.0,72300.0,71300.0,71500.0,71144.960938,13614994,-600.0
10,2023-06-16,71800.0,71900.0,70900.0,71800.0,71443.468750,15373696,0.0
11,2023-06-19,71300.0,71700.0,70900.0,71200.0,70846.445312,11100887,-100.0
12,2023-06-20,70700.0,71400.0,70400.0,71400.0,71045.453125,11557883,700.0
13,2023-06-21,70700.0,71200.0,70400.0,70500.0,70149.921875,10626603,-200.0
14,2023-06-22,70200.0,71500.0,70100.0,71300.0,70945.953125,11411007,1100.0
15,2023-06-23,72000.0,72200.0,71600.0,71600.0,71244.460938,12329484,-400.0
16,2023-06-26,71700.0,72500.0,71500.0,72400.0,72040.492188,10541901,700.0
17,2023-06-27,72500.0,72600.0,72000.0,72600.0,72239.500000,9442997,100.0
18,2023-06-28,72600.0,72700.0,72000.0,72700.0,72339.000000,8783093,100.0
19,2023-06-29,73100.0,73400.0,72400.0,72400.0,72400.000000,12229967,-700.0
20,2023-06-30,72500.0,72700.0,71700.0,72200.0,72200.000000,11694765,-300.0
21,2023-07-03,72700.0,73200.0,72600.0,73000.0,73000.000000,10722181,300.0
22,2023-07-04,73400.0,73600.0,72900.0,73000.0,73000.000000,10214350,-400.0
23,2023-07-05,73000.0,73300.0,71900.0,72000.0,72000.000000,12310610,-1000.0
24,2023-07-06,71900.0,72400.0,71500.0,71600.0,71600.000000,14777667,-300.0
25,2023-07-07,71100.0,71400.0,69800.0,69900.0,69900.000000,17308877,-1200.0
26,2023-07-10,70000.0,70400.0,69200.0,69500.0,69500.000000,11713926,-500.0
27,2023-07-11,70200.0,71500.0,70100.0,71500.0,71500.000000,12177392,1300.0
28,2023-07-12,71200.0,72000.0,71100.0,71900.0,71900.000000,10375581,700.0
29,2023-07-13,72400.0,72600.0,71900.0,71900.0,71900.000000,14417279,-500.0
30,2023-07-14,72500.0,73400.0,72400.0,73400.0,73400.000000,15882519,900.0
31,2023-07-17,73200.0,73500.0,72800.0,73300.0,73300.000000,10060049,100.0
32,2023-07-18,73200.0,73500.0,72000.0,72000.0,72000.000000,11697900,-1200.0
33,2023-07-19,72700.0,72800.0,71300.0,71700.0,71700.000000,10896412,-1000.0
34,2023-07-20,71100.0,71500.0,70800.0,71000.0,71000.000000,9732730,-100.0
35,2023-07-21,70400.0,70400.0,69400.0,70300.0,70300.000000,16528926,-100.0
36,2023-07-24,70100.0,70900.0,69900.0,70400.0,70400.000000,13418597,300.0
37,2023-07-25,70000.0,70500.0,69800.0,70000.0,70000.000000,14314945,0.0
38,2023-07-26,69800.0,70600.0,68100.0,69800.0,69800.000000,30016221,0.0
39,2023-07-27,69900.0,71700.0,69300.0,71700.0,71700.000000,24261179,1800.0
40,2023-07-28,71800.0,72400.0,70100.0,70600.0,70600.000000,19420683,-1200.0
41,2023-07-31,70900.0,71000.0,69800.0,69800.0,69800.000000,13035420,-1100.0
42,2023-08-01,70100.0,71200.0,70000.0,71100.0,71100.000000,12299254,1000.0
43,2023-08-02,70700.0,71000.0,69800.0,69900.0,69900.000000,13835020,-800.0
44,2023-08-03,69900.0,70200.0,68500.0,68800.0,68800.000000,20087090,-1100.0
45,2023-08-04,68800.0,69100.0,68200.0,68300.0,68300.000000,12360193,-500.0
46,2023-08-07,67700.0,69200.0,67600.0,68500.0,68500.000000,10968505,800.0
47,2023-08-08,69000.0,69100.0,67400.0,67600.0,67600.000000,14664709,-1400.0
48,2023-08-09,68000.0,69600.0,67900.0,68900.0,68900.000000,17259673,900.0

In [28]:
# 20. 'Date'  필드에 저장된 값을 파싱하여 'Year', 'Month', 'Day' 필드에 저장하기
df['temp'] = df['Date'].astype('datetime64[ns]')
df['Year'], df['Month'], df['Day'] = [
    [day.year for day in df['temp']],
    [day.month for day in df['temp']],
    [day.day for day in df['temp']],
]
df.drop(['temp'], axis=1)

,Date,Open,High,Low,Close,Adj Close,Volume,diff,Year,Month,Day
0,2023-06-01,70900.0,71600.0,70600.0,70900.0,70547.937500,14669296,0.0,2023,6,1
1,2023-06-02,71700.0,72200.0,71600.0,72200.0,71841.484375,12161798,500.0,2023,6,2
2,2023-06-05,72700.0,72700.0,71400.0,71700.0,71343.968750,12686829,-1000.0,2023,6,5
3,2023-06-07,71300.0,71600.0,70800.0,71000.0,70647.445312,14796613,-300.0,2023,6,7
4,2023-06-08,70400.0,70900.0,70000.0,70900.0,70547.937500,19165568,500.0,2023,6,8
5,2023-06-09,71100.0,72300.0,70800.0,72000.0,71642.476562,15050209,900.0,2023,6,9
6,2023-06-12,72100.0,72400.0,70800.0,71000.0,70647.445312,12064287,-1100.0,2023,6,12
7,2023-06-13,71700.0,72200.0,71600.0,72000.0,71642.476562,13227285,300.0,2023,6,13
8,2023-06-14,72100.0,72200.0,71100.0,71900.0,71542.976562,12541046,-200.0,2023,6,14
9,2023-06-15,72100.0,72300.0,71300.0,71500.0,71144.960938,13614994,-600.0,2023,6,15
10,2023-06-16,71800.0,71900.0,70900.0,71800.0,71443.468750,15373696,0.0,2023,6,16
11,2023-06-19,71300.0,71700.0,70900.0,71200.0,70846.445312,11100887,-100.0,2023,6,19
12,2023-06-20,70700.0,71400.0,70400.0,71400.0,71045.453125,11557883,700.0,2023,6,20
13,2023-06-21,70700.0,71200.0,70400.0,70500.0,70149.921875,10626603,-200.0,2023,6,21
14,2023-06-22,70200.0,71500.0,70100.0,71300.0,70945.953125,11411007,1100.0,2023,6,22
15,2023-06-23,72000.0,72200.0,71600.0,71600.0,71244.460938,12329484,-400.0,2023,6,23
16,2023-06-26,71700.0,72500.0,71500.0,72400.0,72040.492188,10541901,700.0,2023,6,26
17,2023-06-27,72500.0,72600.0,72000.0,72600.0,72239.500000,9442997,100.0,2023,6,27
18,2023-06-28,72600.0,72700.0,72000.0,72700.0,72339.000000,8783093,100.0,2023,6,28
19,2023-06-29,73100.0,73400.0,72400.0,72400.0,72400.000000,12229967,-700.0,2023,6,29
20,2023-06-30,72500.0,72700.0,71700.0,72200.0,72200.000000,11694765,-300.0,2023,6,30
21,2023-07-03,72700.0,73200.0,72600.0,73000.0,73000.000000,10722181,300.0,2023,7,3
22,2023-07-04,73400.0,73600.0,72900.0,73000.0,73000.000000,10214350,-400.0,2023,7,4
23,2023-07-05,73000.0,73300.0,71900.0,72000.0,72000.000000,12310610,-1000.0,2023,7,5
24,2023-07-06,71900.0,72400.0,71500.0,71600.0,71600.000000,14777667,-300.0,2023,7,6
25,2023-07-07,71100.0,71400.0,69800.0,69900.0,69900.000000,17308877,-1200.0,2023,7,7
26,2023-07-10,70000.0,70400.0,69200.0,69500.0,69500.000000,11713926,-500.0,2023,7,10
27,2023-07-11,70200.0,71500.0,70100.0,71500.0,71500.000000,12177392,1300.0,2023,7,11
28,2023-07-12,71200.0,72000.0,71100.0,71900.0,71900.000000,10375581,700.0,2023,7,12
29,2023-07-13,72400.0,72600.0,71900.0,71900.0,71900.000000,14417279,-500.0,2023,7,13
30,2023-07-14,72500.0,73400.0,72400.0,73400.0,73400.000000,15882519,900.0,2023,7,14
31,2023-07-17,73200.0,73500.0,72800.0,73300.0,73300.000000,10060049,100.0,2023,7,17
32,2023-07-18,73200.0,73500.0,72000.0,72000.0,72000.000000,11697900,-1200.0,2023,7,18
33,2023-07-19,72700.0,72800.0,71300.0,71700.0,71700.000000,10896412,-1000.0,2023,7,19
34,2023-07-20,71100.0,71500.0,70800.0,71000.0,71000.000000,9732730,-100.0,2023,7,20
35,2023-07-21,70400.0,70400.0,69400.0,70300.0,70300.000000,16528926,-100.0,2023,7,21
36,2023-07-24,70100.0,70900.0,69900.0,70400.0,70400.000000,13418597,300.0,2023,7,24
37,2023-07-25,70000.0,70500.0,69800.0,70000.0,70000.000000,14314945,0.0,2023,7,25
38,2023-07-26,69800.0,70600.0,68100.0,69800.0,69800.000000,30016221,0.0,2023,7,26
39,2023-07-27,69900.0,71700.0,69300.0,71700.0,71700.000000,24261179,1800.0,2023,7,27
40,2023-07-28,71800.0,72400.0,70100.0,70600.0,70600.000000,19420683,-1200.0,2023,7,28
41,2023-07-31,70900.0,71000.0,69800.0,69800.0,69800.000000,13035420,-1100.0,2023,7,31
42,2023-08-01,70100.0,71200.0,70000.0,71100.0,71100.000000,12299254,1000.0,2023,8,1
43,2023-08-02,70700.0,71000.0,69800.0,69900.0,69900.000000,13835020,-800.0,2023,8,2
44,2023-08-03,69900.0,70200.0,68500.0,68800.0,68800.000000,20087090,-1100.0,2023,8,3
45,2023-08-04,68800.0,69100.0,68200.0,68300.0,68300.000000,12360193,-500.0,2023,8,4
46,2023-08-07,67700.0,69200.0,67600.0,68500.0,68500.000000,10968505,800.0,2023,8,7
47,2023-08-08,69000.0,69100.0,67400.0,67600.0,67600.000000,14664709,-1400.0,2023,8,8
48,2023-08-09,68000.0,69600.0,67900.0,68900.0,68900.000000,17259673,900.0,2023,8,9

In [29]:
# 21. 모든 데이터를 소수점 둘째자리까지 표시하기
format = lambda x: "%.2f" % x if isinstance(x, (int, float, complex)) and not isinstance(x, bool) else x
df.applymap(format, na_action='ignore')

,Date,Open,High,Low,Close,Adj Close,Volume,diff,temp,Year,Month,Day
0,2023-06-01,70900.00,71600.00,70600.00,70900.00,70547.94,14669296.00,0.00,2023-06-01,2023.00,6.00,1.00
1,2023-06-02,71700.00,72200.00,71600.00,72200.00,71841.48,12161798.00,500.00,2023-06-02,2023.00,6.00,2.00
2,2023-06-05,72700.00,72700.00,71400.00,71700.00,71343.97,12686829.00,-1000.00,2023-06-05,2023.00,6.00,5.00
3,2023-06-07,71300.00,71600.00,70800.00,71000.00,70647.45,14796613.00,-300.00,2023-06-07,2023.00,6.00,7.00
4,2023-06-08,70400.00,70900.00,70000.00,70900.00,70547.94,19165568.00,500.00,2023-06-08,2023.00,6.00,8.00
5,2023-06-09,71100.00,72300.00,70800.00,72000.00,71642.48,15050209.00,900.00,2023-06-09,2023.00,6.00,9.00
6,2023-06-12,72100.00,72400.00,70800.00,71000.00,70647.45,12064287.00,-1100.00,2023-06-12,2023.00,6.00,12.00
7,2023-06-13,71700.00,72200.00,71600.00,72000.00,71642.48,13227285.00,300.00,2023-06-13,2023.00,6.00,13.00
8,2023-06-14,72100.00,72200.00,71100.00,71900.00,71542.98,12541046.00,-200.00,2023-06-14,2023.00,6.00,14.00
9,2023-06-15,72100.00,72300.00,71300.00,71500.00,71144.96,13614994.00,-600.00,2023-06-15,2023.00,6.00,15.00
10,2023-06-16,71800.00,71900.00,70900.00,71800.00,71443.47,15373696.00,0.00,2023-06-16,2023.00,6.00,16.00
11,2023-06-19,71300.00,71700.00,70900.00,71200.00,70846.45,11100887.00,-100.00,2023-06-19,2023.00,6.00,19.00
12,2023-06-20,70700.00,71400.00,70400.00,71400.00,71045.45,11557883.00,700.00,2023-06-20,2023.00,6.00,20.00
13,2023-06-21,70700.00,71200.00,70400.00,70500.00,70149.92,10626603.00,-200.00,2023-06-21,2023.00,6.00,21.00
14,2023-06-22,70200.00,71500.00,70100.00,71300.00,70945.95,11411007.00,1100.00,2023-06-22,2023.00,6.00,22.00
15,2023-06-23,72000.00,72200.00,71600.00,71600.00,71244.46,12329484.00,-400.00,2023-06-23,2023.00,6.00,23.00
16,2023-06-26,71700.00,72500.00,71500.00,72400.00,72040.49,10541901.00,700.00,2023-06-26,2023.00,6.00,26.00
17,2023-06-27,72500.00,72600.00,72000.00,72600.00,72239.50,9442997.00,100.00,2023-06-27,2023.00,6.00,27.00
18,2023-06-28,72600.00,72700.00,72000.00,72700.00,72339.00,8783093.00,100.00,2023-06-28,2023.00,6.00,28.00
19,2023-06-29,73100.00,73400.00,72400.00,72400.00,72400.00,12229967.00,-700.00,2023-06-29,2023.00,6.00,29.00
20,2023-06-30,72500.00,72700.00,71700.00,72200.00,72200.00,11694765.00,-300.00,2023-06-30,2023.00,6.00,30.00
21,2023-07-03,72700.00,73200.00,72600.00,73000.00,73000.00,10722181.00,300.00,2023-07-03,2023.00,7.00,3.00
22,2023-07-04,73400.00,73600.00,72900.00,73000.00,73000.00,10214350.00,-400.00,2023-07-04,2023.00,7.00,4.00
23,2023-07-05,73000.00,73300.00,71900.00,72000.00,72000.00,12310610.00,-1000.00,2023-07-05,2023.00,7.00,5.00
24,2023-07-06,71900.00,72400.00,71500.00,71600.00,71600.00,14777667.00,-300.00,2023-07-06,2023.00,7.00,6.00
25,2023-07-07,71100.00,71400.00,69800.00,69900.00,69900.00,17308877.00,-1200.00,2023-07-07,2023.00,7.00,7.00
26,2023-07-10,70000.00,70400.00,69200.00,69500.00,69500.00,11713926.00,-500.00,2023-07-10,2023.00,7.00,10.00
27,2023-07-11,70200.00,71500.00,70100.00,71500.00,71500.00,12177392.00,1300.00,2023-07-11,2023.00,7.00,11.00
28,2023-07-12,71200.00,72000.00,71100.00,71900.00,71900.00,10375581.00,700.00,2023-07-12,2023.00,7.00,12.00
29,2023-07-13,72400.00,72600.00,71900.00,71900.00,71900.00,14417279.00,-500.00,2023-07-13,2023.00,7.00,13.00
30,2023-07-14,72500.00,73400.00,72400.00,73400.00,73400.00,15882519.00,900.00,2023-07-14,2023.00,7.00,14.00
31,2023-07-17,73200.00,73500.00,72800.00,73300.00,73300.00,10060049.00,100.00,2023-07-17,2023.00,7.00,17.00
32,2023-07-18,73200.00,73500.00,72000.00,72000.00,72000.00,11697900.00,-1200.00,2023-07-18,2023.00,7.00,18.00
33,2023-07-19,72700.00,72800.00,71300.00,71700.00,71700.00,10896412.00,-1000.00,2023-07-19,2023.00,7.00,19.00
34,2023-07-20,71100.00,71500.00,70800.00,71000.00,71000.00,9732730.00,-100.00,2023-07-20,2023.00,7.00,20.00
35,2023-07-21,70400.00,70400.00,69400.00,70300.00,70300.00,16528926.00,-100.00,2023-07-21,2023.00,7.00,21.00
36,2023-07-24,70100.00,70900.00,69900.00,70400.00,70400.00,13418597.00,300.00,2023-07-24,2023.00,7.00,24.00
37,2023-07-25,70000.00,70500.00,69800.00,70000.00,70000.00,14314945.00,0.00,2023-07-25,2023.00,7.00,25.00
38,2023-07-26,69800.00,70600.00,68100.00,69800.00,69800.00,30016221.00,0.00,2023-07-26,2023.00,7.00,26.00
39,2023-07-27,69900.00,71700.00,69300.00,71700.00,71700.00,24261179.00,1800.00,2023-07-27,2023.00,7.00,27.00
40,2023-07-28,71800.00,72400.00,70100.00,70600.00,70600.00,19420683.00,-1200.00,2023-07-28,2023.00,7.00,28.00
41,2023-07-31,70900.00,71000.00,69800.00,69800.00,69800.00,13035420.00,-1100.00,2023-07-31,2023.00,7.00,31.00
42,2023-08-01,70100.00,71200.00,70000.00,71100.00,71100.00,12299254.00,1000.00,2023-08-01,2023.00,8.00,1.00
43,2023-08-02,70700.00,71000.00,69800.00,69900.00,69900.00,13835020.00,-800.00,2023-08-02,2023.00,8.00,2.00
44,2023-08-03,69900.00,70200.00,68500.00,68800.00,68800.00,20087090.00,-1100.00,2023-08-03,2023.00,8.00,3.00
45,2023-08-04,68800.00,69100.00,68200.00,68300.00,68300.00,12360193.00,-500.00,2023-08-04,2023.00,8.00,4.00
46,2023-08-07,67700.00,69200.00,67600.00,68500.00,68500.00,10968505.00,800.00,2023-08-07,2023.00,8.00,7.00
47,2023-08-08,69000.00,69100.00,67400.00,67600.00,67600.00,14664709.00,-1400.00,2023-08-08,2023.00,8.00,8.00
48,2023-08-09,68000.00,69600.00,67900.00,68900.00,68900.00,17259673.00,900.00,2023-08-09,2023.00,8.00,9.00

In [30]:
# 22. 거래량 필드를 생성하고 세 자릿수마다 콤마(,)가 들어가도록 변경하기
format_in_thousands = lambda x: '{:,}'.format(x) if isinstance(x, (int, float, complex)) and not isinstance(x, bool) else x
df['거래량'] = df['Volume'].apply(format_in_thousands)
df

,Date,Open,High,Low,Close,Adj Close,Volume,diff,temp,Year,Month,Day,거래량
0,2023-06-01,70900.0,71600.0,70600.0,70900.0,70547.937500,14669296,0.0,2023-06-01,2023,6,1,"14,669,296"
1,2023-06-02,71700.0,72200.0,71600.0,72200.0,71841.484375,12161798,500.0,2023-06-02,2023,6,2,"12,161,798"
2,2023-06-05,72700.0,72700.0,71400.0,71700.0,71343.968750,12686829,-1000.0,2023-06-05,2023,6,5,"12,686,829"
3,2023-06-07,71300.0,71600.0,70800.0,71000.0,70647.445312,14796613,-300.0,2023-06-07,2023,6,7,"14,796,613"
4,2023-06-08,70400.0,70900.0,70000.0,70900.0,70547.937500,19165568,500.0,2023-06-08,2023,6,8,"19,165,568"
5,2023-06-09,71100.0,72300.0,70800.0,72000.0,71642.476562,15050209,900.0,2023-06-09,2023,6,9,"15,050,209"
6,2023-06-12,72100.0,72400.0,70800.0,71000.0,70647.445312,12064287,-1100.0,2023-06-12,2023,6,12,"12,064,287"
7,2023-06-13,71700.0,72200.0,71600.0,72000.0,71642.476562,13227285,300.0,2023-06-13,2023,6,13,"13,227,285"
8,2023-06-14,72100.0,72200.0,71100.0,71900.0,71542.976562,12541046,-200.0,2023-06-14,2023,6,14,"12,541,046"
9,2023-06-15,72100.0,72300.0,71300.0,71500.0,71144.960938,13614994,-600.0,2023-06-15,2023,6,15,"13,614,994"
10,2023-06-16,71800.0,71900.0,70900.0,71800.0,71443.468750,15373696,0.0,2023-06-16,2023,6,16,"15,373,696"
11,2023-06-19,71300.0,71700.0,70900.0,71200.0,70846.445312,11100887,-100.0,2023-06-19,2023,6,19,"11,100,887"
12,2023-06-20,70700.0,71400.0,70400.0,71400.0,71045.453125,11557883,700.0,2023-06-20,2023,6,20,"11,557,883"
13,2023-06-21,70700.0,71200.0,70400.0,70500.0,70149.921875,10626603,-200.0,2023-06-21,2023,6,21,"10,626,603"
14,2023-06-22,70200.0,71500.0,70100.0,71300.0,70945.953125,11411007,1100.0,2023-06-22,2023,6,22,"11,411,007"
15,2023-06-23,72000.0,72200.0,71600.0,71600.0,71244.460938,12329484,-400.0,2023-06-23,2023,6,23,"12,329,484"
16,2023-06-26,71700.0,72500.0,71500.0,72400.0,72040.492188,10541901,700.0,2023-06-26,2023,6,26,"10,541,901"
17,2023-06-27,72500.0,72600.0,72000.0,72600.0,72239.500000,9442997,100.0,2023-06-27,2023,6,27,"9,442,997"
18,2023-06-28,72600.0,72700.0,72000.0,72700.0,72339.000000,8783093,100.0,2023-06-28,2023,6,28,"8,783,093"
19,2023-06-29,73100.0,73400.0,72400.0,72400.0,72400.000000,12229967,-700.0,2023-06-29,2023,6,29,"12,229,967"
20,2023-06-30,72500.0,72700.0,71700.0,72200.0,72200.000000,11694765,-300.0,2023-06-30,2023,6,30,"11,694,765"
21,2023-07-03,72700.0,73200.0,72600.0,73000.0,73000.000000,10722181,300.0,2023-07-03,2023,7,3,"10,722,181"
22,2023-07-04,73400.0,73600.0,72900.0,73000.0,73000.000000,10214350,-400.0,2023-07-04,2023,7,4,"10,214,350"
23,2023-07-05,73000.0,73300.0,71900.0,72000.0,72000.000000,12310610,-1000.0,2023-07-05,2023,7,5,"12,310,610"
24,2023-07-06,71900.0,72400.0,71500.0,71600.0,71600.000000,14777667,-300.0,2023-07-06,2023,7,6,"14,777,667"
25,2023-07-07,71100.0,71400.0,69800.0,69900.0,69900.000000,17308877,-1200.0,2023-07-07,2023,7,7,"17,308,877"
26,2023-07-10,70000.0,70400.0,69200.0,69500.0,69500.000000,11713926,-500.0,2023-07-10,2023,7,10,"11,713,926"
27,2023-07-11,70200.0,71500.0,70100.0,71500.0,71500.000000,12177392,1300.0,2023-07-11,2023,7,11,"12,177,392"
28,2023-07-12,71200.0,72000.0,71100.0,71900.0,71900.000000,10375581,700.0,2023-07-12,2023,7,12,"10,375,581"
29,2023-07-13,72400.0,72600.0,71900.0,71900.0,71900.000000,14417279,-500.0,2023-07-13,2023,7,13,"14,417,279"
30,2023-07-14,72500.0,73400.0,72400.0,73400.0,73400.000000,15882519,900.0,2023-07-14,2023,7,14,"15,882,519"
31,2023-07-17,73200.0,73500.0,72800.0,73300.0,73300.000000,10060049,100.0,2023-07-17,2023,7,17,"10,060,049"
32,2023-07-18,73200.0,73500.0,72000.0,72000.0,72000.000000,11697900,-1200.0,2023-07-18,2023,7,18,"11,697,900"
33,2023-07-19,72700.0,72800.0,71300.0,71700.0,71700.000000,10896412,-1000.0,2023-07-19,2023,7,19,"10,896,412"
34,2023-07-20,71100.0,71500.0,70800.0,71000.0,71000.000000,9732730,-100.0,2023-07-20,2023,7,20,"9,732,730"
35,2023-07-21,70400.0,70400.0,69400.0,70300.0,70300.000000,16528926,-100.0,2023-07-21,2023,7,21,"16,528,926"
36,2023-07-24,70100.0,70900.0,69900.0,70400.0,70400.000000,13418597,300.0,2023-07-24,2023,7,24,"13,418,597"
37,2023-07-25,70000.0,70500.0,69800.0,70000.0,70000.000000,14314945,0.0,2023-07-25,2023,7,25,"14,314,945"
38,2023-07-26,69800.0,70600.0,68100.0,69800.0,69800.000000,30016221,0.0,2023-07-26,2023,7,26,"30,016,221"
39,2023-07-27,69900.0,71700.0,69300.0,71700.0,71700.000000,24261179,1800.0,2023-07-27,2023,7,27,"24,261,179"
40,2023-07-28,71800.0,72400.0,70100.0,70600.0,70600.000000,19420683,-1200.0,2023-07-28,2023,7,28,"19,420,683"
41,2023-07-31,70900.0,71000.0,69800.0,69800.0,69800.000000,13035420,-1100.0,2023-07-31,2023,7,31,"13,035,420"
42,2023-08-01,70100.0,71200.0,70000.0,71100.0,71100.000000,12299254,1000.0,2023-08-01,2023,8,1,"12,299,254"
43,2023-08-02,70700.0,71000.0,69800.0,69900.0,69900.000000,13835020,-800.0,2023-08-02,2023,8,2,"13,835,020"
44,2023-08-03,69900.0,70200.0,68500.0,68800.0,68800.000000,20087090,-1100.0,2023-08-03,2023,8,3,"20,087,090"
45,2023-08-04,68800.0,69100.0,68200.0,68300.0,68300.000000,12360193,-500.0,2023-08-04,2023,8,4,"12,360,193"
46,2023-08-07,67700.0,69200.0,67600.0,68500.0,68500.000000,10968505,800.0,2023-08-07,2023,8,7,"10,968,505"
47,2023-08-08,69000.0,69100.0,67400.0,67600.0,67600.000000,14664709,-1400.0,2023-08-08,2023,8,8,"14,664,709"
48,2023-08-09,68000.0,69600.0,67900.0,68900.0,68900.000000,17259673,900.0,2023-08-09,2023,8,9,"17,259,673"

In [31]:
# 23. 주가 데이터를 월('Month')별로 그룹핑하고, 거래량('Volumn')의 평균값을 표시하기
df.groupby(by='Month')['Volume'].mean().apply(lambda x: '%f' % x)

Month
6    12622390.857143
7    14442068.761905
8    14496349.142857
Name: Volume, dtype: object

In [32]:
# 24. 결측치가 있는지 확인하고, 결측치가 있을 경우 결측치 없애기
df.isna().sum()
df.dropna()

,Date,Open,High,Low,Close,Adj Close,Volume,diff,temp,Year,Month,Day,거래량
0,2023-06-01,70900.0,71600.0,70600.0,70900.0,70547.937500,14669296,0.0,2023-06-01,2023,6,1,"14,669,296"
1,2023-06-02,71700.0,72200.0,71600.0,72200.0,71841.484375,12161798,500.0,2023-06-02,2023,6,2,"12,161,798"
2,2023-06-05,72700.0,72700.0,71400.0,71700.0,71343.968750,12686829,-1000.0,2023-06-05,2023,6,5,"12,686,829"
3,2023-06-07,71300.0,71600.0,70800.0,71000.0,70647.445312,14796613,-300.0,2023-06-07,2023,6,7,"14,796,613"
4,2023-06-08,70400.0,70900.0,70000.0,70900.0,70547.937500,19165568,500.0,2023-06-08,2023,6,8,"19,165,568"
5,2023-06-09,71100.0,72300.0,70800.0,72000.0,71642.476562,15050209,900.0,2023-06-09,2023,6,9,"15,050,209"
6,2023-06-12,72100.0,72400.0,70800.0,71000.0,70647.445312,12064287,-1100.0,2023-06-12,2023,6,12,"12,064,287"
7,2023-06-13,71700.0,72200.0,71600.0,72000.0,71642.476562,13227285,300.0,2023-06-13,2023,6,13,"13,227,285"
8,2023-06-14,72100.0,72200.0,71100.0,71900.0,71542.976562,12541046,-200.0,2023-06-14,2023,6,14,"12,541,046"
9,2023-06-15,72100.0,72300.0,71300.0,71500.0,71144.960938,13614994,-600.0,2023-06-15,2023,6,15,"13,614,994"
10,2023-06-16,71800.0,71900.0,70900.0,71800.0,71443.468750,15373696,0.0,2023-06-16,2023,6,16,"15,373,696"
11,2023-06-19,71300.0,71700.0,70900.0,71200.0,70846.445312,11100887,-100.0,2023-06-19,2023,6,19,"11,100,887"
12,2023-06-20,70700.0,71400.0,70400.0,71400.0,71045.453125,11557883,700.0,2023-06-20,2023,6,20,"11,557,883"
13,2023-06-21,70700.0,71200.0,70400.0,70500.0,70149.921875,10626603,-200.0,2023-06-21,2023,6,21,"10,626,603"
14,2023-06-22,70200.0,71500.0,70100.0,71300.0,70945.953125,11411007,1100.0,2023-06-22,2023,6,22,"11,411,007"
15,2023-06-23,72000.0,72200.0,71600.0,71600.0,71244.460938,12329484,-400.0,2023-06-23,2023,6,23,"12,329,484"
16,2023-06-26,71700.0,72500.0,71500.0,72400.0,72040.492188,10541901,700.0,2023-06-26,2023,6,26,"10,541,901"
17,2023-06-27,72500.0,72600.0,72000.0,72600.0,72239.500000,9442997,100.0,2023-06-27,2023,6,27,"9,442,997"
18,2023-06-28,72600.0,72700.0,72000.0,72700.0,72339.000000,8783093,100.0,2023-06-28,2023,6,28,"8,783,093"
19,2023-06-29,73100.0,73400.0,72400.0,72400.0,72400.000000,12229967,-700.0,2023-06-29,2023,6,29,"12,229,967"
20,2023-06-30,72500.0,72700.0,71700.0,72200.0,72200.000000,11694765,-300.0,2023-06-30,2023,6,30,"11,694,765"
21,2023-07-03,72700.0,73200.0,72600.0,73000.0,73000.000000,10722181,300.0,2023-07-03,2023,7,3,"10,722,181"
22,2023-07-04,73400.0,73600.0,72900.0,73000.0,73000.000000,10214350,-400.0,2023-07-04,2023,7,4,"10,214,350"
23,2023-07-05,73000.0,73300.0,71900.0,72000.0,72000.000000,12310610,-1000.0,2023-07-05,2023,7,5,"12,310,610"
24,2023-07-06,71900.0,72400.0,71500.0,71600.0,71600.000000,14777667,-300.0,2023-07-06,2023,7,6,"14,777,667"
25,2023-07-07,71100.0,71400.0,69800.0,69900.0,69900.000000,17308877,-1200.0,2023-07-07,2023,7,7,"17,308,877"
26,2023-07-10,70000.0,70400.0,69200.0,69500.0,69500.000000,11713926,-500.0,2023-07-10,2023,7,10,"11,713,926"
27,2023-07-11,70200.0,71500.0,70100.0,71500.0,71500.000000,12177392,1300.0,2023-07-11,2023,7,11,"12,177,392"
28,2023-07-12,71200.0,72000.0,71100.0,71900.0,71900.000000,10375581,700.0,2023-07-12,2023,7,12,"10,375,581"
29,2023-07-13,72400.0,72600.0,71900.0,71900.0,71900.000000,14417279,-500.0,2023-07-13,2023,7,13,"14,417,279"
30,2023-07-14,72500.0,73400.0,72400.0,73400.0,73400.000000,15882519,900.0,2023-07-14,2023,7,14,"15,882,519"
31,2023-07-17,73200.0,73500.0,72800.0,73300.0,73300.000000,10060049,100.0,2023-07-17,2023,7,17,"10,060,049"
32,2023-07-18,73200.0,73500.0,72000.0,72000.0,72000.000000,11697900,-1200.0,2023-07-18,2023,7,18,"11,697,900"
33,2023-07-19,72700.0,72800.0,71300.0,71700.0,71700.000000,10896412,-1000.0,2023-07-19,2023,7,19,"10,896,412"
34,2023-07-20,71100.0,71500.0,70800.0,71000.0,71000.000000,9732730,-100.0,2023-07-20,2023,7,20,"9,732,730"
35,2023-07-21,70400.0,70400.0,69400.0,70300.0,70300.000000,16528926,-100.0,2023-07-21,2023,7,21,"16,528,926"
36,2023-07-24,70100.0,70900.0,69900.0,70400.0,70400.000000,13418597,300.0,2023-07-24,2023,7,24,"13,418,597"
37,2023-07-25,70000.0,70500.0,69800.0,70000.0,70000.000000,14314945,0.0,2023-07-25,2023,7,25,"14,314,945"
38,2023-07-26,69800.0,70600.0,68100.0,69800.0,69800.000000,30016221,0.0,2023-07-26,2023,7,26,"30,016,221"
39,2023-07-27,69900.0,71700.0,69300.0,71700.0,71700.000000,24261179,1800.0,2023-07-27,2023,7,27,"24,261,179"
40,2023-07-28,71800.0,72400.0,70100.0,70600.0,70600.000000,19420683,-1200.0,2023-07-28,2023,7,28,"19,420,683"
41,2023-07-31,70900.0,71000.0,69800.0,69800.0,69800.000000,13035420,-1100.0,2023-07-31,2023,7,31,"13,035,420"
42,2023-08-01,70100.0,71200.0,70000.0,71100.0,71100.000000,12299254,1000.0,2023-08-01,2023,8,1,"12,299,254"
43,2023-08-02,70700.0,71000.0,69800.0,69900.0,69900.000000,13835020,-800.0,2023-08-02,2023,8,2,"13,835,020"
44,2023-08-03,69900.0,70200.0,68500.0,68800.0,68800.000000,20087090,-1100.0,2023-08-03,2023,8,3,"20,087,090"
45,2023-08-04,68800.0,69100.0,68200.0,68300.0,68300.000000,12360193,-500.0,2023-08-04,2023,8,4,"12,360,193"
46,2023-08-07,67700.0,69200.0,67600.0,68500.0,68500.000000,10968505,800.0,2023-08-07,2023,8,7,"10,968,505"
47,2023-08-08,69000.0,69100.0,67400.0,67600.0,67600.000000,14664709,-1400.0,2023-08-08,2023,8,8,"14,664,709"
48,2023-08-09,68000.0,69600.0,67900.0,68900.0,68900.000000,17259673,900.0,2023-08-09,2023,8,9,"17,259,673"

In [37]:
# 25. 6월의 데이터와 8월의 데이터를 별도의 데이터프레임(dec_df, nov_df)으로 만들고 두 데이터프레임을 하나의 데이터프레임으로 이어붙이기
jun_df = df[df['Month'] == 6]
aug_df = df[df['Month'] == 8]
pd.concat([jun_df, aug_df])

,Date,Open,High,Low,Close,Adj Close,Volume,diff,temp,Year,Month,Day,거래량
0,2023-06-01,70900.0,71600.0,70600.0,70900.0,70547.937500,14669296,0.0,2023-06-01,2023,6,1,"14,669,296"
1,2023-06-02,71700.0,72200.0,71600.0,72200.0,71841.484375,12161798,500.0,2023-06-02,2023,6,2,"12,161,798"
2,2023-06-05,72700.0,72700.0,71400.0,71700.0,71343.968750,12686829,-1000.0,2023-06-05,2023,6,5,"12,686,829"
3,2023-06-07,71300.0,71600.0,70800.0,71000.0,70647.445312,14796613,-300.0,2023-06-07,2023,6,7,"14,796,613"
4,2023-06-08,70400.0,70900.0,70000.0,70900.0,70547.937500,19165568,500.0,2023-06-08,2023,6,8,"19,165,568"
5,2023-06-09,71100.0,72300.0,70800.0,72000.0,71642.476562,15050209,900.0,2023-06-09,2023,6,9,"15,050,209"
6,2023-06-12,72100.0,72400.0,70800.0,71000.0,70647.445312,12064287,-1100.0,2023-06-12,2023,6,12,"12,064,287"
7,2023-06-13,71700.0,72200.0,71600.0,72000.0,71642.476562,13227285,300.0,2023-06-13,2023,6,13,"13,227,285"
8,2023-06-14,72100.0,72200.0,71100.0,71900.0,71542.976562,12541046,-200.0,2023-06-14,2023,6,14,"12,541,046"
9,2023-06-15,72100.0,72300.0,71300.0,71500.0,71144.960938,13614994,-600.0,2023-06-15,2023,6,15,"13,614,994"
10,2023-06-16,71800.0,71900.0,70900.0,71800.0,71443.468750,15373696,0.0,2023-06-16,2023,6,16,"15,373,696"
11,2023-06-19,71300.0,71700.0,70900.0,71200.0,70846.445312,11100887,-100.0,2023-06-19,2023,6,19,"11,100,887"
12,2023-06-20,70700.0,71400.0,70400.0,71400.0,71045.453125,11557883,700.0,2023-06-20,2023,6,20,"11,557,883"
13,2023-06-21,70700.0,71200.0,70400.0,70500.0,70149.921875,10626603,-200.0,2023-06-21,2023,6,21,"10,626,603"
14,2023-06-22,70200.0,71500.0,70100.0,71300.0,70945.953125,11411007,1100.0,2023-06-22,2023,6,22,"11,411,007"
15,2023-06-23,72000.0,72200.0,71600.0,71600.0,71244.460938,12329484,-400.0,2023-06-23,2023,6,23,"12,329,484"
16,2023-06-26,71700.0,72500.0,71500.0,72400.0,72040.492188,10541901,700.0,2023-06-26,2023,6,26,"10,541,901"
17,2023-06-27,72500.0,72600.0,72000.0,72600.0,72239.500000,9442997,100.0,2023-06-27,2023,6,27,"9,442,997"
18,2023-06-28,72600.0,72700.0,72000.0,72700.0,72339.000000,8783093,100.0,2023-06-28,2023,6,28,"8,783,093"
19,2023-06-29,73100.0,73400.0,72400.0,72400.0,72400.000000,12229967,-700.0,2023-06-29,2023,6,29,"12,229,967"
20,2023-06-30,72500.0,72700.0,71700.0,72200.0,72200.000000,11694765,-300.0,2023-06-30,2023,6,30,"11,694,765"
42,2023-08-01,70100.0,71200.0,70000.0,71100.0,71100.000000,12299254,1000.0,2023-08-01,2023,8,1,"12,299,254"
43,2023-08-02,70700.0,71000.0,69800.0,69900.0,69900.000000,13835020,-800.0,2023-08-02,2023,8,2,"13,835,020"
44,2023-08-03,69900.0,70200.0,68500.0,68800.0,68800.000000,20087090,-1100.0,2023-08-03,2023,8,3,"20,087,090"
45,2023-08-04,68800.0,69100.0,68200.0,68300.0,68300.000000,12360193,-500.0,2023-08-04,2023,8,4,"12,360,193"
46,2023-08-07,67700.0,69200.0,67600.0,68500.0,68500.000000,10968505,800.0,2023-08-07,2023,8,7,"10,968,505"
47,2023-08-08,69000.0,69100.0,67400.0,67600.0,67600.000000,14664709,-1400.0,2023-08-08,2023,8,8,"14,664,709"
48,2023-08-09,68000.0,69600.0,67900.0,68900.0,68900.000000,17259673,900.0,2023-08-09,2023,8,9,"17,259,673"